/* ryapp.css: Please see notes.txt for copyrights and comments */

BODY                {background-color:#D6D3CE;font-color:#000000;background-attachment:scroll;font-family:MS Sans Serif;font-size:8pt;margin:3pt;}

/**** Various Object Positioning ****/
DIV                 {position:relative;display:block;}
#wbo,DIV.wdo        {position:absolute;display:none;}
TD                  {text-align:left;}
IMG.resize          {position:absolute;width:20px;height:20px;cursor:se-resize;z-index:2;}
.hide               {display:none;}
.show               {display:block;}
TABLE.pos           {position:relative;margin:0;padding:0;}
TD.pos              {vertical-align:top;margin:0;padding:0;}

/*** Toolbar / Panels ***/
DIV.panel           {border-bottom:thin groove;border-top:thin groove;margin-top:7pt;margin-bottom:2pt;position:relative;}
BUTTON.tool         {vertical-align:top;height:24px;font-family:MS Sans Serif;font-size:8pt;padding:2px;padding-left:4px;padding-rigth:4px;margin:3px;}
IMG.tool            {margin:2px 3px 2px 3px;border:1px #D6D3CE solid}
IMG.tool.over       {border-color:#EEEEEE gray gray #EEEEEE;}
IMG.disable,BUTTON.disable 
                    {filter:gray(enabled=1) alpha(opacity=40, enabled=1);-moz-opacity:40%;}
IMG.nolink,BUTTON.nolink   
                    {filter:gray(enabled=1) alpha(opacity=20, enabled=1);-moz-opacity:20%;}

/*** Progress Folders *****/
#wizard             {width:100%;}         
#folder             {position:relative;height:25px;width:100%;cursor:default;}         
#folder TD.front    {background-image:url(../img/ws_tgreyf.gif);}
#folder TD.back     {background-image:url(../img/ws_tgreyb.gif);}
#folder IMG.under   {position:absolute;top:20px;height:6px;width:100%;z-index:-1;}
#folder TD          {color:black;}
#folder TD.disable  {color:gray;}

/*** Browse  ***/
DIV.browse          {border:1px black solid;overflow:scroll;background:white;cursor:default;}
TABLE.browse        {empty-cells:show;}
TBODY.browse        {position:relative;top:40px;}
TR.browseheader     {position:relative;top:0px;left:-1px;z-index:10;background-color:#D6D3CE;font-family:MS Sans Serif;font-size:8pt;font-weight:normal;text-align:left;}
TR.select           {background-color:#0A246A;color:white;}
TR.browse           {background-color:white;}
TR.filter           {background-color:lightgreen;}
TR.filter TD        {white-space:pre;}
INPUT.filter        {width:100%;}

/*** Viewer ***/
DIV.viewer          {border:0;}
LABEL               {font-weight:500;text-align:right;position:absolute;}
LEGEND              {font-weight:bolder;text-align:right;}
INPUT,OPTION,A,TEXTAREA,TABLE,TR,TD,THEAD,TBODY,LABEL,LEGEND,SELECT,SPAN 
                    {font-family:MS Sans Serif;font-size:8pt;}

INPUT               {z-index:1;} 
.field,.text	      {position:absolute;}
INPUT.disable       {background-color:#D6D3CE;border:2px #D6D3CE solid;}
.error              {position:absolute;color:white;background:red;}
.information        {position:absolute;color:black;background:cyan;}
.marked             {position:absolute;color:red;background:yellow;}
.rectangle	        {position:absolute;border-style:groove;border-width:2px;}
.image		          {position:absolute;border-style:none;}
.stdbutton          {position:absolute;border-width:1;}
.radlbl             {position:relative;}
.radfld	            {position:relative;top:3px;}
.warning            {position:absolute;color:red;background:yellow;}

/** Debugging **/
/*
DIV.viewer FIELDSET {position:absolute;margin:0;padding:0;}
TABLE.pos           {border:1px green solid;}
TD.pos              {border: 1px lightgreen solid;position:relative;}
DIV                 {border:1px blue solid;}
DIV.browse          {border:1px red solid;}
DIV.viewer          {border:1px red solid;}
TABLE               {border:1px lightgreen solid;}
FIELDSET            {border:1px red solid;}
*/


