<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Application Login</title>
<link rel="stylesheet" type="text/css" href="../dhtml/ryapp.css" />
</head>
<body tabindex="-1">
<form name="rylogin">

<div class="pager">
<div class="viewer" style="top:5px;left:10px;height:120px;width:470px;" wdo="login">

<img class="field" src="../img/login.jpg" style="top:8px;left:7px;" />
<label style="top:5px;left:0px;width:170px;">Login Name: &#160;</label>
<input class="field" type="text" id="login.username" name="login.username" value="" style="top:5px;left:170px;height:21px;width:203px;" tab="1" />
<label style="top:26px;left:0px;width:170px;">Password: &#160;</label>
<input class="field" type="password" id="login.password" name="login.password" value="" style="top:26px;left:170px;height:21px;width:203px;" tab="2" />
<label style="top:47px;left:0px;width:170px;">Language: &#160;</label>
<select class="field" name="login.language" id="login.language" style="top:47px;left:170px;height:21px;width:203px;" tab="3">
<option value="0">-Default-</option>
<!--wss for each gsc_language no-lock by gsc_language.language_name: -->
  <option value="`gsc_language.language_obj`"> `gsc_language.language_name` </option>
<!--wss end. -->
</select>
<label style="top:68px;left:0px;width:170px;">Company: &#160;</label>
<select class="field" id="login.company" name="login.company" style="top:68px;left:170px;height:21px;width:203px;" tab="4">
<option value="0">-Default-</option>
<!--wss for each gsm_login_company no-lock by gsm_login_company.login_company_name: -->
  <option value="`gsm_login_company.login_company_obj`"> `gsm_login_company.login_company_name` </option>
<!--wss end. -->
</select>
<label style="top:89px;left:0px;width:170px;">Processing Date: &#160;</label>
<input class="field" type="text" name="login.processdate" id="login.processdate" value="" style="top:89px;left:170px;height:21px;width:144px;" util="../dhtml/rycalendar.htm" utilimg="../img/calendar.gif" utiltip="Calendar tool" tab="5" />

<button class="tool" id="login.save" name="login.save" style="position:absolute;top:5px;left:380px;width:80px;"><u>O</u>K</button>
<button class="tool" id="wbo.exit"   name="wbo.exit"   style="position:absolute;top:30px;left:380px;width:80px;"><u>C</u>ancel</button>
<img class="field" src="../img/icflogo.gif" style="top:60px;left:390px;" />

</div>
</div>

</form>

<div id="wbo" objtype="wbo">
  <div class="wdo" id="dlogin" name="dlogin" update="on" commit="true" objtype="wdo"
    fields  ="rowident|username|lookup|password|language|company|processdate"
    validate="||||||date"
    enabled ="n|y|y|y|y|y|y"
    initvals="||||||"
    format  ="||||||"
    from="||||||" 
    to="||||||" 
    filter="n|y|y|y|y|y|y" 
    sorting="n|y|y|y|y|y|y" >
</div>
</div>
<div name="menu" id="menu" target="progmenu" 
  level="|1|2"
  actions="|g.file|app.exit"
  labels="|File|<img & src='../img/exit.gif' title='Exit (ALT-X)' />Exit">
</div>
<div id="menu" name="menu" target="hotkey" 
  level="|1"
  actions="|wdo.save"
  labels="|_13" ></div>

<script language="javascript"><!--
function run(app){
<% find first gsc_language no-lock. %>
<% find first gsm_login_company no-lock. %>
  app.dlogin.load(["rowident||||0|0|"],'|',0);

/*
app.main.info.load(["HTM9|Calendar"
  ,"HTM10|January,February,March,April,May,June,July,August,September,October,November,December"]);
*/
}

function refresh(app){
  app.main.later('login.processdate.set|');
  app.main.later('login.processdate.setinput|'+app.main.format(new Date(),'date'));
  app.main.later('login.lookup.set|'+app.main.appcontrol.probeRegional());
  app.main.later('login.modify');
}

function exit(){
  window.main.close();
}
--></script>
</body>
</html>
