/* ryapp.css: Please see notes.txt for copyrights and comments */

BODY                {background-color:#D6D3CE;font-color:#000000;background-attachment:scroll;font-family:MS Sans Serif;font-size:8pt;margin:3pt;}

/**** Various Object Positioning ****/
DIV                 {position:relative;display:block;}
DIV.layout          {position:absolute;}
TD                  {text-align:left;}
IMG.resize          {position:absolute;bottom:-1px;right:-1px;width:20px;height:20px;cursor:se-resize;z-index:2;}
.hide               {display:none;}
.show               {display:block;}
TABLE.pos           {position:relative;margin:0;padding:0;}
TD.pos              {vertical-align:top;margin:0;padding:0;}

/*** Toolbar / Panels ***/
.panel              {margin-top:1px;margin-bottom:1px;position:relative;}
.panel TD           {margin:0;padding:1px 3px 1px 3px;border:1px #D6D3CE solid}
.panel TD.over      {border-color:#EEEEEE gray gray #EEEEEE;}
.panel TD.disable   {filter:gray(enabled=1) alpha(opacity=40, enabled=1);-moz-opacity:.4;}
.panel TD.nolink    {filter:gray(enabled=1) alpha(opacity=20, enabled=1);-moz-opacity:.2;}
.panel TD.break     {background-image:url(../img/ws_spacer.gif);width:5px;padding:0;}
.horizontal         {border-bottom:thin groove;border-top:thin groove;}
.vertical           {border-left:thin groove;border-right:thin groove;}

SPAN                {margin:0;padding:1px 3px 1px 3px;border:1px #D6D3CE solid}
SPAN.over           {border-color:#EEEEEE gray gray #EEEEEE;}
SPAN.disable        {filter:gray(enabled=1) alpha(opacity=40, enabled=1);-moz-opacity:.4;}

/*** Progress Folders *****/
#wizard             {width:100%;}         
#folder             {position:relative;height:25px;width:100%;cursor:default;}         
#folder TD.front    {background-image:url(../img/ws_tgreyf.gif);}
#folder TD.back     {background-image:url(../img/ws_tgreyb.gif);}
#folder IMG.under   {position:absolute;top:20px;height:6px;width:100%;z-index:-1;}
#folder TD          {color:black;}
#folder TD.disable  {background-image:url(../img/ws_tgreyb.gif);color:gray;}




/*** Browse  ***/
DIV.browse          {border:1px black solid;overflow:scroll;background:#D6D3CE;cursor:default;}
TABLE.browse        {empty-cells:show;background:white;}
TBODY.browse        {position:relative;top:40px;}
TR.browseheader     {position:relative;top:0px;left:-1px;z-index:10;background-color:#D6D3CE;font-family:MS Sans Serif;font-size:8pt;font-weight:normal;text-align:left;}
TR.select           {background-color:#0A246A;color:white;}
TR.browse           {background-color:white;}
TR.filter           {background-color:lightgreen;}
TR.filter TD        {white-space:pre;}
INPUT.filter        {width:100%;}

/*** Viewer ***/
DIV.viewer          {border:0;position:relative;}
LABEL               {font-weight:500;text-align:right;position:absolute;white-space:nowrap;z-index:1;}
LEGEND              {font-weight:bolder;text-align:right;}
INPUT,OPTION,A,TEXTAREA,TABLE,TR,TD,THEAD,TBODY,LABEL,LEGEND,SELECT,BUTTON,FONT 
                    {font-family:MS Sans Serif;font-size:8pt;}

INPUT,TEXTAREA,SELECT,BUTTON,SPAN {z-index:2;} 
.field,.text	    {position:absolute;}
FIELDSET            {position:absolute;border:thin groove;}
INPUT.disable       {background-color:#D6D3CE;border:2px #D6D3CE solid;}
.error              {position:absolute;color:white;background:red;}
.information        {position:absolute;color:black;background:cyan;}
.marked             {position:absolute;color:red;background:yellow;}
.rectangle	        {position:absolute;border-style:groove;border-width:2px;}
.image		        {position:absolute;border-style:none;}
INPUT.radio         {position:relative;}
.warning            {position:absolute;color:red;background:yellow;}
TEXTAREA.disable    {background-color:#D6D3CE;}


/*** Treeview ***/
DIV.dyntree         {background-color:white;}
#dyntree            {overflow:auto;width:100%;height:100%;}
#dyntree TR         {height:16px;}
#dyntree TD         {margin:0;padding:0;white-space:nowrap;}
#dyntree FONT       {line-height:0.9;max-height:15px;vertical-align:2px;}                     
#dyntree .select    {background-color:#0A246A;color:white;}                     
#dyntree IMG        {height:15px;}
#dyntree .enable    {cursor:pointer;}
#dyntree TR.disable IMG  {filter:gray(enabled=1) alpha(opacity=20, enabled=1);-moz-opacity:.2;}
#dyntree TR.disable FONT {color:gray;}                     


/** Debugging  */
/*
DIV.dynframe        {border:1px red solid;}
DIV                 {border:1px blue solid;}
DIV.layout          {border:1px red solid;}
DIV.layout          {border:1px red solid;}
DIV.browse          {border:1px green solid;}
DIV.viewer          {border:1px green solid;}
*/



