<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
<title>Application Login</title>
<script language="speedscript">
  DEF VAR gcBaseHref AS CHAR NO-UNDO.
  gcBaseHref = SUBSTRING(ENTRY(1,get-value('lookup':U),'#'),5).
  IF gcBaseHref > '' THEN 
    {&out} '<base href="' gcBaseHref '" />~n'.   
  lognote('note','LOGIN CGI_DIR=' + gcBaseHref).

  DEF VAR gcCssTheme AS CHAR NO-UNDO.
  assign gcCssTheme = ENTRY(6,get-value('lookup':U),'#') no-error.
  IF gcCssTheme = '' OR gcCssTheme = ? THEN gcCssTheme = "../dhtml/ryapp.css".
  lognote('note','CssTheme=' + gcCssTheme).
</script>
<link rel="stylesheet" type="text/css" href="`gcCssTheme`" />
</head>
<body tabindex="-1">
<div class="layout" pos="11"><div class="viewer" min="470,120" wdo="login" id="loginv" name="loginv" objtype="viewer">
<form name="_loginv">
<img class="field" src="../img/login.jpg" style="top:8px;left:7px;" />
<label style="top:5px;left:0px;width:170px;">Login Name: &#160;</label>
<input class="field" type="text" id="login.username" name="login.username" value="" style="top:5px;left:170px;height:21px;width:203px;" tab="1" tabIndex="1" />
<label style="top:26px;left:0px;width:170px;">Password: &#160;</label>
<input class="field" type="password" id="login.password" name="login.password" value="" style="top:26px;left:170px;height:21px;width:203px;" tab="2" tabIndex="2" />
<label style="top:47px;left:0px;width:170px;">Language: &#160;</label>
<select class="field" name="login.language" id="login.language" style="top:47px;left:170px;height:21px;width:203px;" tab="3" tabIndex="3" />
<option value="0">-Default-</option>
<!--wss for each gsc_language no-lock by gsc_language.language_name: -->
  <option value="`gsc_language.language_obj`"> `gsc_language.language_name` </option>
<!--wss end. -->
</select>
<label style="top:68px;left:0px;width:170px;">Company: &#160;</label>
<select class="field" id="login.company" name="login.company" style="top:68px;left:170px;height:21px;width:203px;" tab="4" tabIndex="4" />
<option value="0">-Default-</option>
<!--wss for each gsm_login_company no-lock by gsm_login_company.login_company_name: -->
  <option value="`gsm_login_company.login_company_obj`"> `gsm_login_company.login_company_name` </option>
<!--wss end. -->
</select>
<label style="top:89px;left:0px;width:170px;">Processing Date: &#160;</label>
<input class="field" type="text" name="login.processdate" id="login.processdate" value="" style="top:89px;left:170px;height:21px;width:144px;" tool="calendar" util="util.../dhtml/rycalendar.htm" tab="5" tabIndex="5" 
/><span name="login.processdate" id="login.processdate" title="Calendar tool" style="position:absolute;top:89px;left:316px;" class="enable"><img src="../img/calendar.gif" tabindex="-1" /></span>

<button class="enable" onclick="window.main.action('login.commit');return false;" style="position:absolute;top:5px;left:380px;width:80px;"><u>O</u>K</button>
<button class="enable" onclick="window.parent.close();" style="position:absolute;top:30px;left:380px;width:80px;"><u>C</u>ancel</button>
<img class="field" src="../img/icflogo.gif" style="top:60px;left:390px;" />

</form>
</div>
</div>


<div style="display:none;visibility:hidden;">
<div id="wbo" objtype="wbo">
  <div class="wdo" id="login" name="login" update="on" commit="true" objtype="wdo"
    fields  ="rowident|username|lookup|password|language|company|processdate"
    labels  ="rowident|username|lookup|password|language|company|processdate"
    validate="||||||date"
    enabled ="n|y|y|y|y|y|y"
    initvals="||||||"
    format  ="||||||"
    from="||||||" 
    to="||||||" 
    filter="n|y|y|y|y|y|y" 
    sorting="n|y|y|y|y|y|y" >
</div>
</div>
<div name="menu" id="menu" target="progmenu" 
  menu=";1|g.file|File|;2|app.exit|Exit (ALT-X)|../img/exit.gif"
></div>
<div id="menu" name="menu" target="hotkey" 
  menu=";1|login.commit|_13||" 
></div>
</div>

<script language="javascript"><!--
function run(app){
<% find first gsc_language no-lock. %>
<% find first gsm_login_company no-lock. %>
  app._login.load(["rowident||||0|0|"],'|',0);

app.main.info.load(["HTM7|Calendar;OK;Cancel"
  ,"HTM3|You must enter a date value for &1 in the '99/99/9999' format using '&3' convention (&2)"
  ,"HTM5|Do you want to save current changes?"
  ,"HTM25|User Input;Yes;No;Cancel;OK"
  ,"HTM8|January,February,March,April,May,June,July,August,September,October,November,December"]);
}

function refresh(app){
  app.main.later('login.processdate.set|');
  app.main.later('login.processdate.setinput|'+app.main.format(new Date(),'date'));
  app.main.later('login.lookup.set|'+app.main.appcontrol.probeRegional());
}

  
--></script>
</body>
</html>
