<html>
<head>
<title></title>
</head>
<% if get-value('uploaded') > '' then do: %>
<body id="body" onload="parent.close();">
<h1>OK</h1>
<% end. else do: %>
<body id="body" onload="onload()">
<form name="form" method="POST" enctype="multipart/form-data" target="upwin">
<p id="label"></p>
<br><input type="file" name="upfile" size="45"><input type="hidden" name="uploaded" value="not">
<br>
<input type="button" id="btnok" onClick="fOK()">&#160;
<input type="button" id="btncancel" onClick="window.close();">
<hr>
<p id="stat" style="font-weight:bolder;"></p>
</form>
<script language=javascript>
var win, ftext;
var w=405;
var h=200;
if(document.all){
  window.dialogWidth=w+'px'; 
  window.dialogHeight=h+'px';
} else {
  window.resizeTo(w+4,h+4);
}


function onload(){
  win=document.all?window.dialogArguments:window.opener;
  ftext=(win.action('info.get|HTM26')).split(';');
  window.document.title=ftext[0];
  document.getElementById('label').innerHTML=ftext[1];
  document.getElementById('btncancel').value=ftext[2];
  document.getElementById('btnok').value=ftext[3];
}

function fOK(){
  if (document.form.upfile.value>''){
    win.returnfield.value=(document.form.upfile.value).split('\\').pop();
    document.getElementById('stat').innerHTML=(ftext[4]).replace('&',win.returnfield.value);
    document.form.uploaded.value=win.returnfield.value; 
    if(win.app&&win.app.wbo) win.app.wbo.editfield(win.returnfield);
    document.form.submit();
  } else window.close();
}  
</script>
<iframe name="upwin" id="upwin" style="display:none;"></iframe>
<% end. %>

</body>
</html>
