/********************************
  snow_main.css
  Sample stylesheet for the Dynamics main/menu screen 
  Per Digre / PSC
********************************/

@import url(../dhtml/rymain.css);

BODY      {background:url(../img/bg.gif);font-color:#000000;font-family:MS Sans Serif;font-size:8;margin:0;}

TD.toolbar      {background-color:lightblue;}
IMG.tool        {border-color:lightblue;}
IMG.tool.over   {background-color:white;border-left:1px #EEEEEE solid;border-top:1px #EEEEEE solid;border-right:1px gray solid;border-bottom:1px gray solid;}

/* menu looks */
#menubar TABLE.root     {background-color:lightblue;}
#menubar TABLE.menu     {padding:0;margin:0;background-color:lightblue;}
#menubar TD             {background-color:lightblue;}
#menubar TD.enable      {border:0;}
#menubar TD.disable     {border:0;}
#menubar TD.over        {border:0;}
#menubar TD.break       {border:0;}
                        
#menubar TD.root        {color:darkblue;font: MS Sans Serif;font-weight:bold;}
#menubar TD.root.normal {border-color:lightblue;}
#menubar TD.root.raise  {background-color:white;}
#menubar TD.root.sink   {background-color:white;}




 