/********************************
  app_snow.css
  Snow theme for application screens 
  Per Digre / PSC
********************************/

@import url(../dhtml/ryapp.css);

BODY  {background:url(../img/bg.gif);
scrollbar-face-color: #CCCC99; 
scrollbar-shadow-color: #999999; 
scrollbar-highlight-color: #FFFFCC; 
scrollbar-3dlight-color: #FFFFCC; 
scrollbar-darkshadow-color: black; 
scrollbar-track-color: #999966; 
scrollbar-arrow-color: #666633
}

FIELDSET.browse {border-color:gray;}
TR.browseheader {background-color:lightgreen;font-weight:bold;}
TR.browse       {background-color:expression(this.rowIndex%2==1?'lightblue':'white');}
TR.select       {background-color:expression('#339999');}


IMG.tool        {border-color:lightblue;}
IMG.tool.over   {background-color:white;border-left:1px #EEEEEE solid;border-top:1px #EEEEEE solid;border-right:1px gray solid;border-bottom:1px gray solid;}

/** Tabfolders ***/
#folder TD.front  {background:url(../../ws/img/tbluef.gif);color:white;}
#folder TD.back   {background:url(../../ws/img/tblueb.gif);color:yellow;}


INPUT.field.disable     {background-color:white;border:2px #D6D3CE solid;border-color:gray white white gray;color:gray;}

