/* icfdyn.cst - Dynamics customized dynamic objects file - 04/05/2002 */

*NEW-CONTAINER	Independent Window (DynObjc)
NEW-TEMPLATE	src/adm2/template/dynobjc.w
TYPE		DynObjc
IMAGE-FILE      adeicon/smartwindow.bmp
PROPERTY-SHEET  ry/prc/rycblnchrp.p

*NEW-CONTAINER	Dynamic Menu Controller (DynMenc)
NEW-TEMPLATE	src/adm2/template/dynmenc.w
TYPE		DynMenc
IMAGE-FILE      adeicon/smartwindow.bmp
PROPERTY-SHEET  ry/prc/rycblnchrp.p

*NEW-CONTAINER	Dependent Window (DynFold)
NEW-TEMPLATE	src/adm2/template/dynfold.w
TYPE		DynFold
IMAGE-FILE      adeicon/smartwindow.bmp
PROPERTY-SHEET  ry/prc/rycblnchrp.p

*NEW-CONTAINER	Dynamic Frame (DynFrame)
NEW-TEMPLATE	ry/tem/dynframewiz.w
TYPE		DynFrame
IMAGE-FILE      adeicon/smartwindow.bmp
PROPERTY-SHEET  ry/prc/rycblnchrp.p

*NEW-CONTAINER	Dynamic SBO (DynSBO)
NEW-TEMPLATE	ry/obj/rydynsbowiz.w
TYPE		DynSBO
IMAGE-FILE      adeicon/smartwindow.bmp
PROPERTY-SHEET  ry/prc/rycblnchrp.p

*NEW-CONTAINER	Dynamic TreeView (DynTree)
NEW-TEMPLATE	src/adm2/template/dyntvcontnr.w
TYPE		DynTree
IMAGE-FILE      adeicon/smartwindow.bmp
PROPERTY-SHEET  ry/prc/rytreebldp.p

*NEW-SMARTOBJECT Dynamic SmartData&Browser (DynBrow)
NEW-TEMPLATE    ry/obj/rydynbrwwizw.w
TYPE            DynBrow

*NEW-SMARTOBJECT Dynamic SmartData&Object (DynSDO)
NEW-TEMPLATE    ry/obj/rydynsdowizw.w
TYPE            DynSDO

*NEW-SMARTOBJECT Dynamic SmartData&Viewer (DynView)
NEW-TEMPLATE    ry/obj/rydynvwwizw.w
TYPE            DynView

