<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<!-- Procedure Description
"WebSpeed Frameset Template

Displays HTML files in three frames (a banner and 2 columns). This template detects when a user's browser does not support frames and displays a message to that effect.  The user replaces the frame source URLs with those of the HTML files that he wants to display in the frames."
//-->
<HTML>
<HEAD>
<TITLE>WebSpeed Frameset</TITLE>
</HEAD>
<FRAMESET ROWS="25%,75%">
  <FRAME SRC="`RootURL`/assist/blank.html" NAME="FS_header"
    MARGINWIDTH="5" MARGINHEIGHT="3">
  <FRAMESET COLS="33%,67%">
    <FRAME SRC="`RootURL`/assist/blank.html" NAME="FS_index"
      MARGINWIDTH="5" MARGINHEIGHT="3">
    <FRAME SRC="`RootURL`/assist/blank.html" NAME="FS_main"
      MARGINWIDTH="5" MARGINHEIGHT="3">
  </FRAMESET>
  <NOFRAMES>
    <BODY>
    <P>This web page uses frames, but your browser doesn't support them.</P>
    </BODY>
  </NOFRAMES>
</FRAMESET>
</HTML>
