
<!-- Procedure Description
"WebSpeed Table Template

Formats database results as an HTML table. This is not a self-standing HTML file. The user must call it from a SpeedScript procedure that generates HTML.  Note: This template has no HTML header information. For example, the user should not open this file in an HTML authoring tool that automatically adds HTML header and body tags."
//-->
<TABLE BORDER="0">
  <CAPTION ALIGN="top">Enter Your Table Caption Here</CAPTION>
  <TR>
    <TH ALIGN="left">Column Heading 1</TH>
    <TH ALIGN="left">Column Heading 2</TH>
  </TR>

  <SCRIPT LANGUAGE="SpeedScript">
  /*------------------------------------------------------------------
    File:
    Description:
    Author:
    Created
    ------------------------------------------------------------------

    OVERVIEW:
    Customized this file and call from WebSpeed as either
    a) a custom tag in an HTML Mapping file. For example:

       <!--WSTAG NAME="mytbl" FILE="table.r" -->

                          -OR-

       <!--WSTAG NAME="mytbl" FILE="table.w" -->

    b) call directly in another SpeedScript file

       RUN table.r.   -OR-  RUN table.w.

    NOTE:
    This file should not be opened up in Front Page or any other
    authoring tool that may add an HTML, HEAD, META, and BODY tag
    around the TABLE tag in this template.

    CUSTOMIZATION:
    The pieces of this template that should/can be customized include:

	o Table Caption
	  -location               :  top of the template file
	  -default value          :  "Enter Your Table Caption Here"

    o Table Row (for Heading Cells)
	  -location               :  top of the template file
	  -default attributes     :  no attributes have been specified
      -note                   :  add row attributes as needed

	o Table Heading(s)
	  -location               :  top of the template file
	  -default no. of headings:  2
	  -default column headings:  "Column Heading 1" "Column Heading 2"
      -default attributes     :  ALIGN
      -note                   :  add additional columns, headings
                                 heading attributes

    o Table Row (for Data Cells)
	  -location               :  defined in the FOR EACH section of the
                                 template
	  -default attributes     :  ALIGN="left", VALIGN="middle"
      -note                   :  add row attributes as needed

    o Table Data
      -location               :  TD-ATTRIBUTES 'SpeedScript'
                                 PREPROCESSOR defined after this comment
	  -default attributes     :  ALIGN="left", VALIGN="middle",
                                 ROWSPAN="1", COLSPAN="1", NOWRAP
	  -note                   :  add attributes as needed

    o Database Table
	  -location               :  defined in DB-TABLE 'SpeedScript'
                                 PREPROCESSOR after this comment
	  -default value          :  customer (from PROGRESS sports database)
      -note                   :  modify for application database

	o Database Field(s)
      -location               :  defined in DB-FIELD1 and DB-FIELD2
                                 'SpeedScript' PREPROCESSORS after this comment
      -default value          :  name, phone (from the customer
                                 table in the PROGRESS sports database)
      -note                   :  modify for application database
                                 and optionally define additional
                                 fields (the number of fields defined should
                                 match the number of columns in the table

    o Output of Table Data
      -location               :  FOR EACH section of template
      -default value          :  DB-TABLE, DB-FIELD1, and DB-FIELD2
                                 'SpeedScript' PREPROCESSOR values are output
      -note                   :  add DB-FIELD# 'SpeedScript' PREPROCESSORS if
                                 additional ones have been defined
  -------------------------------------------------------------------*/

  /* PREPROCESSOR Definitions */

  /* Data Cell Attributes */
  &SCOPED-DEFINE TD-ATTRIBUTES 'align="left" valign="middle" nowrap'

  /* Database Table and Fields from which data is to be retrieved to
     populate the HTML Table.  The table and field currently listed
     are ones that are associated with the sports database.  Customize
     these preprocessors to suit the table being output. */
  &SCOPED-DEFINE DB-TABLE       customer
  &SCOPED-DEFINE DB-FIELD1      name
  &SCOPED-DEFINE DB-FIELD2      phone

  /* Outputting Data Cell Tags and Data Values */
  FOR EACH {&DB-TABLE}:
  </SCRIPT>

  <TR ALIGN="left" VALIGN="middle">
    <TD {&TD-ATTRIBUTES}> ` {&DB-FIELD1} ` </TD>
    <TD {&TD-ATTRIBUTES}> ` {&DB-FIELD2} ` </TD>
  </TR>

  <!--WSS END. -->
</TABLE>
